$overlay-bg-color : rgba(40, 80, 150, 0.9);
$dark-blue: #092a61;
$light-blue:#9ACDF4;
$generic-blue: #8aa4d0;
$dark-grey: #222;
$light-grey: #ddd;
$white: #fff;
$red: #e5725b;
$rust: #b23e00;
$orange: #ea9b25;
$yellow: #f5d13c;
$olive: #b5cc18;
