@import "colors";

html {
    background-position: center;
    background-image: url('../img/bg-dark.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.textlink {
    color: $light-blue;
}

.textlink:hover {
    background-color: $white;
    color: $dark-blue;
}

*,
.pure-g [class *= "pure-u"] {
    font-family: Rajdhani;
}

p, p * {
    font-family: Fjord One;
}

h1.title, h2.title {
    font-weight: bold;
}

label, button {
    font-weight: bold;
}

article {
    overflow: auto;
    & > .title {
        margin-top: 1rem;
    }
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba($dark-blue, 0.9);
    color: white;
    text-align: left;
    font-size: 1.2rem;
}

// TODO is there a standard for these widths
@media screen and (min-width: 48em) {
    article {
        padding: 3rem;
        width: 80%;
    }
}

.button {
 background-color: $light-grey; /* Green */
 border: none;
 color: $overlay-bg-color;
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 18px;
 font-weight: bold;
 border-radius:5px;
}
