@import "colors";

html {
    background-position: center;
    background-image: url('../img/bg-dark.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.textlink {
    text-decoration: none;
    color: $light-grey;
}

.textlink:hover {
    color: $generic-blue;
}

*,
.pure-g [class *= "pure-u"] {
    font-family: Rajdhani;
}

p, p *, h1.title, h2.title {
    font-family: Fjord One;
    font-weight: bold;
}

label, button {
    font-weight: bold;
}

article {
    overflow: auto;
    & > .title {
        margin-top: 1rem;
    }
    box-sizing: border-box;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: $overlay-bg-color;
    color: white;
    text-align: left;
    font-size: 1.2rem;
}

// TODO is there a standard for these widths
@media screen and (min-width: 48em) {
    article {
        padding: 3rem;
        width: 80%;
    }
}
