@import "colors";

form {
    & input, textarea {
        color: $dark-grey;
        width: 100%;
        margin: .1rem 0 1rem 0;
    }
    & button {
        transition: background-color 0.1s ease;
        border: 0 none;
        border-radius: 3px;
        background-color: $light-grey;
        color: $dark-blue;
        letter-spacing: .2rem;
        padding: .5rem;
        width: 8rem;
        &:hover {
            background-color: $white;
            color: $generic-blue;
        }
    }
}

@media screen and (min-width: 35.5em) {
    form {
        width: 70%;
    }
}
