@import "colors";

.address-box {
    p {
        font-size: 1rem;
    }
}

.address-bold {
    margin: 0;
    font-weight: bold;
}

.smaller-text {
    margin-top: 0;
    font-weight: lighter
}

.form-element-inquiry-type{
    display: flex;
    flex-direction: column;
}

.contact-dropdown{
    color: #222;
    margin: .1rem 0 1rem 0;
}

form {
    & input, textarea {
        color: $dark-grey;
        width: 100%;
        margin: .1rem 0 1rem 0;
    }
}

@media screen and (min-width: 35.5em) {
    form {
        width: 70%;
    }
}
