@import "colors";

#movement-button-container {
    & button {
        margin: 1rem;
        display: block;
        margin: 30px auto;
        &:hover {
            background-color: $white;
            color: $generic-blue;
        }
    }
}
