@import "colors";

#login-page {
    form {
        & input {
            border: 1px solid;
            &:hover {
                border: 1px solid $light-grey;
            }
        }
        p.password-reset {
            margin: 0;
        }
        div.actions {
            button:hover {
                background-color: $white;
                color: $generic-blue;
            }
        }
    }
}

.spacer-sm {
  margin-top: 20px;
}


.help {
  font-size: 1rem;
  padding: 0 0 0 0;
}
