@import "colors";

#top-menu-icon {
    border-radius: 3px;
    float: left;
    width: 2.5em;
    height: 2.5em;
    background-image:url(../img/menu-icon.png);
    background-color: $light-blue ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover{
        border-radius: 4px 4px 0 0;
    }
    &:active{
        border-radius: 4px 4px 0 0;
    }
}

#top-menu {
    box-sizing: border-box;
    cursor: pointer;
    ul {
        height: 0;
        list-style: none;
        padding: 50px 0 0 8px;
        margin: 0;
        width: 100%;
        border-radius: 4px 0 4px 4px;
        background-color: $light-blue;
        transition: height 0.3s ease-in;
    }
}

#top-menu.opened{
    ul {
        height: auto;
        transition: height 0.3s ease-in;
    }
}

.top-menu-item {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0;
    text-decoration: none;
    color: $dark-blue;
    &.current, &:hover {
        color: $dark-rust;
    }
}

#top-menu-container {
    overflow: hidden;
    background-color: $light-blue;
    width: 100%;
    border-radius: 3px;
}

@media screen and (min-width : 35.5em) {
    #top-menu-container {
        margin-bottom: 40px;
    }

    #top-menu-icon {
        display:none;
    }

    #top-menu {
        border-radius: 3px;
        float: right;
        padding: .2rem 0;
        height: 30px;
        ul {
            white-space:nowrap;
            display: inline-block;
            position: relative;
            padding: 0;
            margin: 0;
            right: 0;
            top: 0;
            & li {
                display: inline-block;
            }
        }
        .top-menu-item {
            text-align: center;
            line-height: 1.5rem;
            padding: 0 .5em;
        }
    }
}
