@import "colors";

#registration-page {
    & form {
        & input {
            border: 1px solid;
            &:hover {
                border: 1px solid $light-grey;
            }
        }
        & #tos-checkbox {
            width: 5%;
            position: relative;
            float: left;
            margin: 0 .45rem 0 0;
        }
        & label{
            & span {
                display: inline-block;
                padding: 3px 0 0 10px;
            }
            display:inline-block;
        }
        & div.actions {
            // TODO generic button component
            button:hover {
                background-color: $white;
                color: $generic-blue;
            }
        }

        & .tos-box{
            display: flex;
            align-items: center
        }
    }
}
